<%= form_for(@twitter_account) do |f| %>
  <% if @twitter_account.errors.any? %>
    <div class="alert alert-error">
      <ul>
      <% @twitter_account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
